@{
  ViewBag.Title = "Home Page";
}

<style>
  .well {
    padding-top: 0em;
    padding-bottom: .2em;
  }
</style>

<div class="container">
  <div class="well">
    <h2>Bootstrap Data-Driven Horizontal Navigation Samples</h2>
    <p>These samples illustrate how to create data-driven horizontal navigation.</p>
  </div>

  <div class="row">
    <div class="col-md-8 center-block">
      <h1>Horizontal Data-Driven Menu Samples</h1>
      <div class="list-group">
        <a class="list-group-item" href="/HorizontalDataDriven/DataDriven01">One-Line Menu</a>
        <a class="list-group-item" href="/HorizontalDataDriven/DataDriven02">Menus with Drop Downs</a>
      </div>
    </div>
  </div>
</div>